# See http://help.github.com/ignore-files/ for more about ignoring files.

# local microfrontend integrations
init-data/traefik/active/*

# misc
.vscode
*.log
api-key*
/versions/v2/storage
/versions/v2/logs


# Personal files
.Ps-Docs
0_temp
A_Extras
.0_agents-deployer/
.github/